@media (min-width: 320px) and (max-width: 639px) {
    /* header */
    header {
        padding: 8px 27px;
        width: 100%;
        position: fixed;
        display: flex;
        z-index: 11;
        background: #ffffff61;
        align-items: center;
        justify-content: space-between;
    }

    .logo a {
        display: block;
        background: url(../images/logo.png) no-repeat;
        width: 63px;
        height: 63px;
        text-indent: -9999px;
    }

    .gnb_wrap {
        display: none;
    }

    .top_menu {
        display: none;
    }

    .menu_popup {
        display: block;
        background: url(../images/menu_icon.png) no-repeat;
        width: 29px;
        height: 29px;
        text-indent: -9999px;
    }

    /* slide1 - main image slider */
    html,
    body {
        position: relative;
        height: 100%;
    }

    body {
        margin: 0;
        padding: 0;
    }

    .main_swiper {
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .main_swiper .swiper {
        width: 100%;
    }

    .main_swiper .swiper-slide {
        text-align: center;
        background: #fff;
    }

    .main_swiper .swiper-slide a {
        width: 100%;
        height: 100%;
    }

    .main_swiper .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .main_swiper .swiper-button-next,
    .main_swiper .swiper-button-prev {
        top: 56%;
        color: #888;
    }

    .main_swiper .swiper-pagination {
        display: block;
    }

    .main_swiper .swiper_custom_pagination {
        display: none;
    }

    .brand_slogan_wrap {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #412a2a;
        text-align: center;
        background: #eee;
        padding: 20px;
    }

    .brand_slogan {
        font-family: 'HSSantokki-Regular';
        font-size: 36px;
        font-weight: 300;
        margin: 10px 0;
    }

    .brand_slogan_subtitle {
        font-size: 24px;
        font-weight: 700;
        margin: 10px;
    }

    .brand_slogan_wrap span{
        font-weight: 400;
    }

    /* slide2 - chayam menu slider */
    .container {
        padding: 40px;
    }

    .chayam_menu .container_inner {
        width: 100%;
        margin: 0 auto;
        min-width: 320px;
        max-width: 639px;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .menu_title {
        font-family: 'HSSantokki-Regular';
        font-size: 46px;
        font-weight: 600;
        color: #5c068c;
        margin-bottom: 40px;
        white-space: nowrap;
        text-align: center;
    }

    .menu_title:after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 0 -8px 16px;
        background-color: #f53a6f;
    }

    .tabs {
        margin-top: 14px;
    }

    .tabs ul {
        display: flex;
        justify-content: space-evenly;
    }

    .menu_subtitle {
        font-family: 'HSSantokki-Regular';
        font-size: 24px;
        font-weight: 300;
        color: #888888;
        padding-bottom: 26px;
        white-space: nowrap;
    }

    .menu_subtitle.active {
        text-decoration: underline;
        text-underline-position: under;
        color: #f53a6f;
    }

    .menu_slider {
        position: relative;
        width: 100%;
        min-width: 320px;
        display: none;
    }

    .menu_slider.active {
        display: block;
    }

    .menuSwiper {
        height: 600px;
    }

    .menuSwiper .swiper-wrapper {
        align-items: center;
    }

    .menuSwiper .swiper-slide {
        width: 220px;
        text-align: center;
    }

    .menuSwiper .swiper-slide-active {
        width: 380px;
    }

    .menuSwiper .swiper-slide img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .menu_pagination_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 350px;
        height: 50px;
        background: #5c068c;
        padding: 20px;
        margin: 0 auto;
    }

    .menu_pagination {
        color: #fff;
    }

    .menu_pagination_wrap .button_prev {
        width: 26px;
        height: 6px;
        background: url(../images/prev.png) no-repeat;
        text-indent: -9999px;
    }

    .menu_pagination_wrap .button_next {
        width: 26px;
        height: 6px;
        background: url(../images/next.png) no-repeat;
        text-indent: -9999px;
    }

    /* franchise */
    .franchise {
        width: 100%;
        height: 100%;
        background: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .franchise .container_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .franchise .main_title {
        font-family: 'HSSantokki-Regular';
        font-size: 46px;
        font-weight: 600;
        color: #5c068c;
        margin-bottom: 40px;
        white-space: nowrap;
        text-align: center;
    }

    .franchise .main_title:after {
        content: "";
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 0 -8px 16px;
        background-color: #f53a6f;
    }

    .franchise strong {
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        color: #f53a6f;
        margin-bottom: 40px;
    }

    .franchise a {
        display: flex;
        align-items: center;
        overflow: hidden;
        position: relative;
        font-family: 'NanumSquareRound';
        font-size: 20px;
        font-weight: 800;
        color: #5c068c;
        border: 1px solid #5c068c;
        background: #fff;
        padding: 16px 40px;
    }

    .franchise a:hover {
        color: #fff;
    }

    .franchise a::before {
        position: absolute;
        display: block;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #5c068c;
        transform: translateX(-100%);
        transition: transform .3s cubic-bezier(0.16, 0.04, 0.03, 0.95);
    }

    .franchise a:hover::before {
        transform: translateX(0%);
    }

    .franchise a span {
        z-index: 1;
    }

    .franchise_cont_wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(-200%, 0);
        -webkit-animation: franchiseAni 40s linear 0s infinite;
        animation: franchiseAni 40s linear 0s infinite;
    }

    .franchise_cont_item {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .6;
    }

    .franchise_cont_item img {
        width: 140px;
    }

    .franchise_cont_item:nth-child(1) {
        top: 10%;
        left: 5%;
    }

    .franchise_cont_item:nth-child(2) {
        top: 17%;
        left: 72%
    }

    .franchise_cont_item:nth-child(3) {
        top: 60%;
        left: 65%;
    }

    .franchise_cont_item:nth-child(4) {
        top: 79%;
        left: 18%
    }

    .franchise_cont_item:nth-child(5) {
        top: 76%;
        left: 120%;
    }

    .franchise_cont_item:nth-child(6) {
        top: 50%;
        left: 180%;
    }

    .franchise_cont_item:nth-child(7) {
        top: 9%;
        left: 140%;
    }

    .franchise dt {
        position: absolute;
        left: 100px;
        top: 0px;
        color: #fff;
        font-size: 12px;
        display: inline-flex;
        border: 1px solid transparent;
        border-radius: 30px;
        border-bottom-left-radius: 0;
        padding: 8px 16px;
        background-color: rgb(245, 58, 111, 0.8);
        z-index: 1;
        white-space: nowrap;
    }

    @keyframes franchiseAni {
        0% {
            transform: translate(100%, 0)
        }

        100% {
            transform: translate(-200%, 0)
        }
    }

    /* footer */
    footer {
        background: #000;
        color: #fff;
        padding: 20px;
    }

    .footer_wrap {
        display: flex;
        flex-direction: column;
    }

    .footer_left {
        padding-right: 20px;
    }

    .footer_left dl {
        margin-bottom: 28px;
    }

    .footer_left dt {
        font-weight: 800;
    }

    .footer_left dd {
        display: flex;
        padding: 4px 0;
        white-space: nowrap;
    }

    .footer_left p {
        padding: 2px 0;
    }

    .footer_bottom {
        display: flex;
    }

    .bottom_logo {
        display: block;
        background: url(../images/bottom_logo.png) no-repeat;
        width: 63px;
        height: 63px;
        text-indent: -9999px;
        margin-right: 20px;
    }

    .footer_right h3 {
        font-size: 16px;
        font-weight: 800;
    }

    .notice_cont {
        padding: 4px 0;
    }

    .notice a:hover {
        text-decoration: underline;
        text-underline-position: under;
    }

    .notice_more_btn {
        margin-left: 24px;
    }

    .sns {
        margin: 28px 0;
    }

    .sns ul {
        display: flex;
        padding: 4px 0;
    }

    .instagram_i {
        display: block;
        background: url(../images/instagram_i.png) no-repeat;
        width: 22px;
        height: 22px;
        text-indent: -9999px;
        position: absolute;
        top: 25%;
        left: 24%
    }

    .facebook_i {
        display: block;
        background: url(../images/facebook_i.png) no-repeat;
        width: 11px;
        height: 22px;
        text-indent: -9999px;
        position: absolute;
        top: 25%;
        left: 36%
    }

    .youtube_i {
        display: block;
        background: url(../images/youtube_i.png) no-repeat;
        width: 28px;
        height: 22px;
        text-indent: -9999px;
        position: absolute;
        top: 25%;
        left: 18%
    }

    .sns li {
        width: 45px;
        height: 45px;
        border: 1px solid #fff;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
    }

    .sns li:nth-child(2) {
        margin: 0 20px;
    }

    .footer_bottom {
        display: flex;
        align-items: center;
    } 
}